{{ 'section-concept.css' | asset_url | stylesheet_tag }}

<section id="ConceptMovie" class="page-width">
  <div class="Section deviceHeight">
    <div class="Linear"></div>
    <a class="Contents widthM clickNone" id="OurConcept" href="https://hnb.beer/" target="_blank">
      <div class="Holder">
        <div class="ttlEN">Brewing Peace, Blooming Smiles.</div>
        <div class="Header spanAnim"><span class="row">ビールは平和だからこそ、おいしい</span></div>
        <p class="slideUp">HIROSHIMA NEIGHBORLY BREWING（ヒロシマネイバリーブリューイング）は、<br>広島の象徴でもある平和公園の東側、<br>本通りに入ってすぐにあるブルワリー。<br>この地にあるからこそ「まちに根付いたものを作りたい」と、<br>広島県産の素材も使い、何度でも飲みたくなるビールを目指しています。<br>また、醸造設備を眺めながら楽しめる、<br>併設のブリューパブ＆居酒屋「Craftbeer と炭火はればれ」もあり、<br>『まさにビール工場の中で飲める！楽しめる！』場所です。</p>
        <div class="more">View More </div>
      </div>
      <div class="bg"><img src="https://hnb.beer/assets/img/index/ConceptMovie.jpg"></div>
    </a>
  </div>
</section>



{% schema %}
{
  "name": "CONCEPT",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "CONCEPT",
      "label": "CONCEPT"
    }
  ],
  "presets": [
    {
      "name": "CONCEPT" 
    }
  ]
}
{% endschema %}

