.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}



/* 追記 */
.field.field--select select {
  line-height: 1.4rem;
  background: none;
}
.field.field--select::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  top: calc(50% - 1.5rem / 2);
  right: 2rem;
  bottom: auto;
  left: auto;
  transform: translateX(25%) rotate(135deg);
}
.field.field--select label {
  font-size: 1rem;
  top: calc(var(--inputs-border-width) + 0.5rem);
  left: calc(var(--inputs-border-width) + 2rem);
  letter-spacing: 0.04rem;
}
.contact__button button {
  width: 100%;
}
.contact .form__message {
  font-size: 1.4rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .form__message svg {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}